@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  background-color: black;
  margin: auto;
  max-width: 900px; }
  body a {
    color: #ffc526; }
  body img {
    max-width: 100%; }
  body h1, body h2, body h3 {
    color: #ffc526;
    font-family: 'Raleway', sans-serif; }
  body p, body h4 {
    /*Brødtekst og projekttype*/
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0.3em 2.5% 0.7em; }
  body header {
    margin: 0;
    padding: 0; }
    body header a {
      text-decoration: none; }
    body header h1 {
      /*Kalle Hansen */
      text-align: center;
      font-size: 2.9em;
      margin: 5%; }
    body header .headertext {
      position: relative; }
    body header h2, body header h3 {
      position: absolute; }
    body header #designer {
      left: 3px; }
    body header #fotograf {
      right: 8px; }
    body header #forehead {
      top: 83%;
      left: 50%;
      transform: translate(-50%, -50%); }
  body main {
    background-color: black; }
    body main h2 {
      /*Projekter + Fotografier*/
      text-align: center;
      font-size: 2em;
      padding: 0.8em;
      margin: 0 2.5%; }
    body main h3 {
      /*Projektnavne*/
      margin: 0.2em 2.5%; }
    body main p {
      margin-bottom: 1.5em; }
    body main .Projects a button {
      margin: 0.3em 2.5% 0.7em;
      transition: background-color 0.3s;
      background-color: #ffc526;
      transition: color 0.3s;
      color: black;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.25em;
      float: right;
      width: 18%;
      border: none; }
      body main .Projects a button:hover {
        background-color: #171717;
        color: #ffc526;
        cursor: pointer; }
    body main .Pro1, body main .Pro2, body main .Pro3, body main .Pro4 {
      /*Projekter på forsiden*/
      width: 100%; }
    @media screen and (min-width: 800px) {
      body main .Projects {
        display: flex;
        flex-wrap: wrap; }
      body main .Pro1, body main .Pro2, body main .Pro3, body main .Pro4 {
        width: 48%;
        margin: 1%; } }
    body main .imgtext {
      margin: 0;
      display: inline-block;
      width: 77%; }

/*Processider*/
.single-pro h2 {
  padding: 0.4em; }
.single-pro h4 {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 2%; }
.single-pro li {
  color: white;
  font-family: "Source Sans Pro", sans-serif; }
.single-pro .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .single-pro .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.galleri {
  /*Både billeder og knapper i galleri*/
  position: relative;
  /*Tillader placering af knapper oven på billeder*/ }
  .galleri .mySlides {
    /*Billeder i slideshow*/
    width: 100%; }
    .galleri .mySlides img {
      /*Removes blue selection*/
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none; }
  .galleri button {
    /*Pile i galleri*/
    background-color: rgba(0, 0, 0, 0.4);
    /*Sort farve med 40% opacity*/
    font-size: 4vmin;
    /*4% af viewport width*/
    color: white;
    border: none;
    padding: 3vw;
    /*Både padding og pilens størrelse skalerer efter bredde*/
    position: absolute;
    /*Tillader placering af knapper oven på billeder*/
    outline: none; }
  .galleri .w3-display-right {
    /*Knap til at vise næste billede i slideshow*/
    right: 0;
    /*Afstanden fra højre kant af kassen skal være 0*/ }

.linktoimg, .navbuttons {
  display: flex;
  align-items: center;
  justify-content: center; }

.morepics, .nextproject {
  /*Knap til flere billeder*/
  margin: 0.3em 2.5% 0.7em;
  transition: background-color 0.3s;
  background-color: #ffc526;
  transition: color 0.3s;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25em;
  border: none;
  outline: none; }
  .morepics:hover, .nextproject:hover {
    background-color: #171717;
    color: #ffc526;
    cursor: pointer; }

footer {
  background-color: #171717; }
  footer h3 {
    margin: 0.3em 2.5% 0.7em;
    padding-top: 0.7em; }
  footer p {
    margin: 0.3em 2.5% 0.3em; }
  footer .footertext {
    display: inline-block;
    width: 80%; }
  footer #email {
    margin: 0.3em 2.5% 0;
    padding-bottom: 0.7em; }
  footer a {
    text-decoration: none; }
  footer img {
    width: 1.4em;
    font-size: 1.4em;
    text-align: center;
    line-height: 0.7em;
    background-color: #ffc526;
    box-shadow: 0px 0px 2px #000;
    padding: 4px; }

.parallax {
  background-image: url("../img/ommig/ommig1.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: fixed center no-repeat cover;*/ }

.parallax2 {
  background-image: url("../img/ommig/ommig2.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax3 {
  background-image: url("../img/ommig/ommig3.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax4 {
  background-image: url("../img/ommig/ommig4.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax5 {
  background-image: url("../img/ommig/ommig5.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0 2.5% 0;
  padding: 0; }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit; }
  .timeline h3 {
    margin-top: 0;
    /*Correctly aligns with timeline dots*/ }

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 30px;
  position: relative; }
  .timeline-item:last-child {
    padding-bottom: 0; }

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px; }
  .timeline-marker:before {
    background: #ffc526;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px; }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px; }
  .timeline-item:last-child .timeline-marker:after {
    content: none; }

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  overflow: hidden;
  padding-bottom: 40px; }
  .timeline-content p:last-child {
    margin-bottom: 0; }
  .timeline-content img {
    margin: 0.3em 2.5% 0.7em;
    max-width: 100%; }

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0; }
  .period .timeline-info {
    display: none; }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid white; }
  .period .timeline-marker:after {
    content: "";
    top: auto; }
  .period .timeline-content {
    padding: 30px 0 30px; }
  .period .timeline-title {
    margin: 0; }

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table; }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top; }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative; }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px; }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px; }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px; } }

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0; }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden; }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px; }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px; }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px; }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center; }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px; }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto; }
  .timeline-centered .period .timeline-title {
    left: auto; } }

/*# sourceMappingURL=style.css.map */
