@import "_variables";

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;

  a {
    color: $accentcolour;
  }

  img {
    max-width: 100%;
  }

  h1, h2, h3 {
    color: $accentcolour;
    font-family: 'Raleway', sans-serif;
  }

  p, h4 { /*Brødtekst og projekttype*/
    color: white;
    font-family: $maintext;
    margin: $textmargin;
  }

  header {
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
    h1 { /*Kalle Hansen */
      text-align: center;
      font-size: 2.9em;
      margin: 5%;
    }
    .headertext {
      position: relative;
      }

      h2, h3 {
        position: absolute;
      }

      #designer {
        left: 3px;
      }
      #fotograf {
        right: 8px;
      }
      #forehead {
        top: 83%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

  main {
    background-color: black;

    h2 { /*Projekter + Fotografier*/
      text-align: center;
      font-size: 2em;
      padding: 0.8em;
      margin: 0 2.5%;
    }

    h3 { /*Projektnavne*/
      margin: 0.2em 2.5%;
    }

    p {
      margin-bottom: 1.5em;
    }

    .Projects a button {
      margin: $textmargin;
      transition: background-color 0.3s;
      background-color: $accentcolour;
      transition: color 0.3s;
      color: black;
      font-family: $maintext;
      font-size: 1.25em;
      float: right;
      width: 18%;
      border: none;

      &:hover {
        background-color: $backgroundcolour;
        color: $accentcolour;
        cursor:pointer;
      }
    }

    .Pro1, .Pro2, .Pro3, .Pro4 { /*Projekter på forsiden*/
      width:100%;
    }

    @media screen and (min-width: 800px) {
      .Projects {
        display: flex;
        flex-wrap: wrap;
      }

      .Pro1, .Pro2, .Pro3, .Pro4 {
        width: 48%;
        margin: 1%;
        }
    }


.imgtext {
  margin: 0;
  display: inline-block;
  width: 77%;
}
}
}

/*Processider*/
.single-pro {
  h2 {
    padding: 0.4em;
  }

  h4 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 2%;
  }

  li {
    color: white;
    font-family: $maintext;
  }
  iframe {
    width: 100%;
  }
}

  .galleri { /*Både billeder og knapper i galleri*/
    position: relative; /*Tillader placering af knapper oven på billeder*/


  .mySlides { /*Billeder i slideshow*/
    width:100%;

    img { /*Removes blue selection*/
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }

  button { /*Pile i galleri*/
    background-color: rgba(0,0,0,0.4); /*Sort farve med 40% opacity*/
    font-size: 4vw; /*4% af viewport width*/
    color: white;
    border: none;
    padding: 3vw; /*Både padding og pilens størrelse skalerer efter bredde*/
    position: absolute; /*Tillader placering af knapper oven på billeder*/
    outline:none;
  }

  .w3-display-right { /*Knap til at vise næste billede i slideshow*/
    right: 0; /*Afstanden fra højre kant af kassen skal være 0*/
  }
}

.linktoimg {
  display: flex;
  align-items: center;
  justify-content: center;

.morepics { /*Knap til flere billeder*/
  margin: $textmargin;
  transition: background-color 0.3s;
  background-color: $accentcolour;
  transition: color 0.3s;
  color: black;
  font-family: $maintext;
  font-size: 1.25em;
  border: none;
  outline: none;

  &:hover {
    background-color: $backgroundcolour;
    color: $accentcolour;
    cursor:pointer;
    }
  }
}

.parallax {
  background-image: url('../img/ommig/ommig1.jpg');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: fixed center no-repeat cover;*/
}

.parallax2 {
  background-image: url('../img/ommig/ommig2.jpg');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url('../img/ommig/ommig3.jpg');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url('../img/ommig/ommig4.jpg');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax5 {
  background-image: url('../img/ommig/ommig5.jpg');
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0 2.5% 0;
        padding: 0;

        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
      h3 {
        margin-top: 0; /*Correctly aligns with timeline dots*/
      }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 30px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: $accentcolour;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px;
            left: 0;
            width: 15px;

        }
        &:after {
            content: "";
            width: 3px;
            background: white;
            display: block;
            position: absolute;
            top: 24px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }


    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        overflow: hidden;
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
      img {
        margin: $textmargin;
        max-width: 100%;
      }
    }

    /*----- TIMELINE PERIOD -----*/

    .period {
        padding: 0;
        .timeline-info {
            display: none;
        }
        .timeline-marker {
            &:before {
                background: transparent;
                content: "";
                width: 15px;
                height: auto;
                border: none;
                border-radius: 0;
                top: 0;
                bottom: 30px;
                position: absolute;
                border-top: 3px solid white;
            }
            &:after {
                content: "";

                top: auto;
            }
        }
        .timeline-content {
            padding: 30px 0 30px;
        }
        .timeline-title {
            margin: 0;
        }
    }

    /*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

        .timeline-split {
            @media (min-width: 768px) {
                .timeline {
                    display: table;
                }
                .timeline-item {
                    display: table-row;
                    padding: 0;
                }
                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }
                .timeline-marker {
                    position: relative;
                }
                .timeline-content {
                    padding-left: 30px;
                }
                .timeline-info {
                    padding-right: 30px;
                }
                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
        }

    /*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

        .timeline-centered {
            @extend .timeline-split;
            @media (min-width: 992px) {
                &,
                .timeline-item,
                .timeline-info,
                .timeline-marker,
                .timeline-content {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                .timeline-item {
                    padding-bottom: 40px;
                    overflow: hidden;
                }
                .timeline-marker {
                    position: absolute;
                    left: 50%;
                    margin-left: -7.5px;
                }
                .timeline-info,
                .timeline-content {
                    width: 50%;
                }
                > .timeline-item:nth-child(odd) .timeline-info {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item:nth-child(odd) .timeline-content {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-info {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-content {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item.period .timeline-content {
                    float: none;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .timeline-item.period {
                    padding: 50px 0 90px;
                }
                .period .timeline-marker:after {
                    height: 30px;
                    bottom: 0;
                    top: auto;
                }
                .period .timeline-title {
                    left: auto;
                }
            }
        }
